html,
body {
  background-color: darkslategrey;
}

body {
  padding: 10%;
}

.App {
  text-align: center;
  background-color: darkslategrey;
}

.App-header {
  background-color: darkslategrey;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

a {
  color: white;
}
a:visited {
  color: white;
}
a:hover {
  background-color: white;
  color: darkslategrey;
}

a:active {
  color: lightblue;
}
